#content-wrapper{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.phones-text {
    color:rgb(163, 163, 163);
    font-weight: bold;
}

#compare-content{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}


.phone-box{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 3px dashed rgb(160, 160, 160);
    background: rgb(207, 207, 207);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: rgb(145, 145, 145);
    cursor: pointer;
}

#compare-card1{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    //border-bottom-left-radius: 10px;
    //border-top-left-radius: 10px;
}

#compare-card2{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
   border-radius: 0px;
}

#compare-card3{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    //border-top-right-radius: 0px;
    //border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#compare-tables{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}


#compare-button{
    position: absolute;

    margin-top: 200px;
}

.selectedPhone{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.phone_img{
    height: auto;
    width: 230px;
    margin-top: 10px;
    margin-left: -15px;
}

.points{
    color: rgb(153, 180, 0);
    width: 100%;
    float: left;
    font-weight: bold;
}

.red{
    background: rgba(255, 0, 0, 0.13);
    // margin: 3px 3px 3px 3px;
    border: 1px solid grey;
}

.green{
    background: rgba(0, 128, 0, 0.123);
    // margin: 3px 3px 3px 3px;
    border: 1px solid rgb(46, 46, 46);
    color: black;
}

.table-wrapper{
    width: 100%;
}

.star-icon{
    position: absolute;
    right: 47%;
    top: 7px;
    color: #ffe14f;
}