<div class="menu-wrapper">
  <div class="menu-logo">
    <img class="case" id="case" [src]="case">
  </div>
  <h1 class="ml11">
    <span class="text-wrapper">
      <span class="line"> <img id="line" [src]="line"></span>
      <span class="letters">SMARTEQUATE</span>
    </span>
  </h1>
  <nav id="nav_menu">
    <ul>
      <li>
          <a>
            Inici
            <div class="selected-bar"></div>
          </a>  
      </li>
      <li>
          <a>
            Cercar
          </a>  
      </li>
      <li>
        <a>
          Comparar
        </a>  
      </li>
      <li>
        <a>
        Informació
        </a>  
    </li>
    </ul>
  </nav>
</div>