<div class="menu-wrapper">
  <div class="menu-logo">
    <img class="case" id="case" [src]="case">
  </div>
  <h1 class="ml11">
    <span class="text-wrapper">
      <span class="line"> <img id="line" [src]="line"></span>
      <span class="letters">SMARTEQUATE</span>
    </span>
  </h1>
  <nav id="nav_menu">
    <ul> 
      <li id="user-li">
          <div id="user-div"><button class="user-button" mat-stroked-button color="primary">Iniciar sessió</button></div> 
        </li>
        <li>
            <a>
            Informació
            </a> 
          </li>
        <li>
            <a>
              Comparar
            </a>  
          </li>
        <li>
            <a title="Cercar telèfons" routerLink="search">
              <div>Cercar</div>
              <div class="selected-bar" [class.activated]="currentUrl == '/search'"></div>
            </a>   
        </li>
        <li>
            <a title="Pàgina rincipal" routerLink="home" >
              <div>Inici</div>
              <div class="selected-bar" [class.activated]="currentUrl == '/home'"></div>
            </a>  
        </li>
    </ul>
  </nav>
</div>