.menu-wrapper{
    width:100%;
    height: 90px;
    box-shadow: 0px 1px 10px rgba(179, 179, 179, 0.5);
    h1{
        position: absolute;
        top:5px;
        left: 80px;
        font-weight: 100;
    }
}

.menu-logo{
    margin-left: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: inline-block;
}

#case{
    width: 30px;
    height: 46px;
}
#line{
    height: 60px;
}

.case{
    opacity: 0;
}
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 0.05em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    top:-10px;
    left: 250px;
    height: 100%;
  }
  
  
  .ml11 .letter {
    display: inline-block;
  }


  nav{
    height: 100%;
    width:50%;
    z-index: 1000;
    transition-duration: 0.4s;
    display: block;
    float: right;
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{ 
            user-select: none;
            :hover{
                transition-duration: 0.2s;
                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,245,255,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,245,255,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,245,255,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,245,255,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,245,255,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,245,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f5ff', GradientType=0 );
            }

            .activated{
                background-color: #0a6402;
                .menu_icon:hover{
                    background-color: #0a6402;
                }
            }

            a{
                transition-duration: 0.4s;
                width: 100px;
                height: 90px;
                line-height: 90px;
                color: #212121;
                display: block;
                float: left;
                margin-left:10px;
                background: none;
                text-align: center;
                font-weight: bold;
                .selected-bar{
                    position: relative;
                    bottom: 5px;
                    width: 100%;
                    height: 5px;
                    background: #3F51B5;
                }
            }

        }

    }
}


  
.menu_item{
    width: min-content;
    text-align: center;
}