<div class="menu-wrapper">
  <div class="menu-logo">
    <img class="case" id="case" [src]="case">
    <img class="logo" id="logo" [src]="logo">
  </div>
  <h1 class="ml11">
    <span class="text-wrapper">
      <span class="line"> <img id="line" [src]="line"></span>
      <span class="letters">SMARTEQUATE</span>
    </span>
  </h1>
  <h1 class="letters-responsive">SMARTEQUATE</h1>
  <nav id="nav_menu" *ngIf="user !== ''">
    <ul> 
      <li id="user-li">
        <div id="logout_div">
          <button (click)="logout()" matTooltip="Logout" mat-icon-button>
              <mat-icon color="primary" style="font-size: 26px">exit_to_app</mat-icon>
            </button>
        </div>
          <div id="user-div">
            <mat-icon id="user-icon">perm_identity</mat-icon>
            <div id="user-id">{{user}}</div>
          
          </div> 
        </li>
        <li>
          <a title="Comparar telefons" routerLink="compare">
            <div>Comparar</div>
            <div class="selected-bar" [class.activated]="currentUrl == '/compare'"></div>
          </a> 
          </li>
        <li>
            <a title="Cercar telèfons" routerLink="search">
              <div>Cercar</div>
              <div class="selected-bar" [class.activated]="currentUrl == '/search'"></div>
            </a>   
        </li>
        <li>
            <a title="Pàgina rincipal" routerLink="home" >
              <div>Inici</div>
              <div class="selected-bar" [class.activated]="currentUrl == '/home'"></div>
            </a>  
        </li>
    </ul>
  </nav>
</div>



