strong{
    color: grey;
}

.check-icon{
    vertical-align: top;
    color: grey;
    float: right;
}

.size-str{
    float: right;
}

.likeButton{
    float: right;
    height: 30px;
    line-height: 30px;
    width: 110px;
    padding: 0 3px 0 3px;
}

.likeIcon{
    font-size: 18px;
}