/* You can add global styles to this file, and also import other style files */
html,body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}

.ng-spinner{
    opacity: 0;
}

.mat-drawer-container{
   background: white;
}

.dataTables_empty {
    display: none;
  }

  html{
    overflow-y:scroll;
}

.mat-checkbox-layout{
    margin-top: 13px;
}