/* You can add global styles to this file, and also import other style files */
html,body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    height:100%;
}

.ng-spinner{
    opacity: 0;
}

.mat-drawer-container{
   background: white;
}

.dataTables_empty {
    display: none;
  }

  html{
    overflow-y:scroll;
}

.mat-checkbox-layout{
    margin-top: 13px;
}


.reloginBackground{
    background-color: #ffffffb6;
 }

snack-bar-container.custom-snackbar-error{
    background: rgb(255, 189, 189);
    color: rgb(143, 0, 0);
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    button{
        color: rgb(107, 0, 0);
        font-weight: bold;
    }
}