<div id="presentation-div">
  <div id="text-left">
    <div id="primary-text">El millor comparador<br>de telèfons mòbils<br>que hi ha online</div>
    <div id="secondary-text">Comença a utilitzar ja la millor<br>eina per comparar els telèfons<br>que més t'agradin</div>
    <div id="presentation-buttons">
        <button class="presentation-button" color="accent" mat-raised-button>Cercar telèfons</button>&nbsp;&nbsp;
        <button class="presentation-button" color="accent" mat-raised-button>Comparar telèfons</button>
    </div>
  </div>
  <div id="text-right">
    <div id="img-home-div"><img id="img-home" [src]="img_home"></div>
    <!--<div id="points-wrapper">
      <div class="points" id="points1">278998p</div>
      <div class="points" id="points2">934852p</div>
      <div class="points" id="points3">892348p</div>
    </div> -->
  </div>
    <div id="presentation-triangle-left"></div>
  <div id="presentation-triangle-right"></div>
</div>

<div id="newest-phones">
  <h2>Últimes novetats</h2>
</div>
