
<div id="presentation-div">
  <div id="text-left">
    <div id="primary-text">El millor comparador<br>de telèfons mòbils<br>que hi ha online</div>
    <div id="secondary-text">Comença a utilitzar ja la millor<br>eina per comparar els telèfons<br>que més t'agradin</div>
    <div id="presentation-buttons">
        <button class="presentation-button" color="accent" mat-raised-button routerLink="/search">Cercar telèfons</button>&nbsp;&nbsp;
        <button class="presentation-button" color="accent" mat-raised-button routerLink="/compare">Comparar telèfons</button>
    </div>
  </div>
  <div id="text-right">
    <div id="img-home-div"><img id="img-home" [src]="img_home"></div>
  </div>
    <div id="presentation-triangle-left"></div>
  <div id="presentation-triangle-right"></div>
</div>
<br><br><br>
<div [@openClose]="showPhones1 ? 'open' : 'closed'" id="newest-phones">
  <h2 style="margin-bottom: 10px;">Més alta puntuació</h2>
  <div class="phones-text">
    Aqui pots trobar els telèfons mòbils que destaquen per la seva puntuació!

  </div>
  <div  class="phone-box-wrapper">
    <div *ngFor="let phone of mostValued"  (mouseenter)="enter($event)" (mouseleave)="leave($event)"  class="phone-box" (click)="openPhoneInfo(phone)"> 
        <div class="red-box"><img id="phone_img" [src]="img_phone"></div>
        <div class="phone-name">
         <div><strong>{{phone?.name}}</strong></div>
         <div class="points"><strong >{{phone?.points?.totalPoints.toFixed(0)}} pts</strong></div>
        </div>
        <div class="phone-description">
          <h4><strong>{{phone?.name}}</strong></h4>
          <p>CPU: {{phone?.attributes?.cpu}}</p>
          <hr>
          <p>Camera principal: {{phone?.attributes?.camera_a}} px</p>
          <hr>
          <p>Camera secundària: {{phone?.attributes?.camera_b}} px</p>
          <hr>
          <p>Bateria: {{phone?.attributes?.battery}} mah</p>
        </div>
    </div>
  </div>
</div>
<br><br><br>
<div [@openClose]="showPhones2 ? 'open' : 'closed'" id="voted-phones">
    <h2 style="margin-bottom: 10px;">Els més votats</h2>
    <div class="phones-text">
      Aqui pots trobar els telèfons mòbils més votats!
    </div>
    <div  class="phone-box-wrapper">
    <div *ngFor="let phone of mostVoted"  (mouseenter)="enter($event)" (mouseleave)="leave($event)"  class="phone-box" (click)="openPhoneInfo(phone)">
      <div class="red-box"><img id="phone_img" [src]="img_phone"></div>
      <div class="phone-name">
       <div><strong>{{phone?.name}}</strong></div>
       <div class="votes"><strong >{{phone?.votes}} <mat-icon style="font-size:18px;color:rgb(116, 189, 48)">thumb_up</mat-icon></strong></div>
      </div>
      <div class="phone-description">
        <h4><strong>{{phone?.name}}</strong></h4>
        <p>CPU: {{phone?.attributes?.cpu}}</p>
        <hr>
        <p>Camera principal: {{phone?.attributes?.camera_a}} px</p>
        <hr>
        <p>Camera secundària: {{phone?.attributes?.camera_b}} px</p>
        <hr>
        <p>Bateria: {{phone?.attributes?.battery}} mah</p>
      </div>
  </div>
</div>
</div>
